/* set all sizing to border-box to include padding and border in the total width and height of the elements */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
    .logo {
        height: 100%;
    }
    img {
        height: 80px;
    }
    .menu {
        list-style: none;
        height: 100%;
    }
    .menu > li {
        padding: 20px;
        height: 100%;
        align-content: center;

    }
    .menu > li:hover {
        background-color: rgba(255, 138, 66, 0.346);
    }
    .activepage {
        background-color: rgb(255, 140, 66);
    }


.grid-container1 {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    height: 100vh;
    grid-template-rows: 1fr 4.5fr 0.5fr;
}
    .item1 {
        grid-area: header;
        background-color: rgb(162, 62, 72);
        padding: 0px 5px;
    }

    .item2 {
        grid-area: main;
        background-color: rgba(255, 241, 117, 0.283);
        height: 100%;
        overflow-y: scroll;
    }

    .item3 {
        grid-area: footer;
        background-color: rgb(162, 62, 72);
    }

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 10px;
}
    .grid-container2 >div {
        background-color: rgb(108, 142, 173);
        padding: 2px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* aspect-ratio: 1 / 1; */
    }
    .grid1 {
        grid-column: 1 / 4;
        text-align: center;
    }
    .grid2-hot-item {
        grid-column: 1 / 3;
        grid-row: 2 / span 2;
    }
        .hotitem {
            height: 350px;
        }

flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p10 {
    padding: 10px;
}

.spacebetween {
    justify-content: space-between;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    /* change grid container 2 to display vertically  */
    .grid-container1 {
        height: 100vh;
        grid-template-rows:max-content;
        overflow:scroll;
    }

    #header {
        flex-direction: column;
    }

    .logo {
        height: 100px;
        width: 100px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .item2{
        width: 100vw;
        height: max-content
    }
    
    .item2 > div {
        grid-column: 1 / 4;
    }

    .grid2-hot-item {
        height: 300px;
    }
}